@import url('https://fonts.googleapis.com/css?family=Lustria|Open+Sans&subset=latin-ext');

body {
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

#wrapper {
	position: absolute;
  top: 0;
  left: 0;
  right: 0;
	width: 100%;
	min-height: 100%;
  overflow: hidden;
}

h1, h2, h3 {
  font-family: 'Lustria', serif;
}

h1{}

h2 {
  font-size: 38px;
  margin: 0;
  margin-top: 24px;
}

h3 {
  font-size: 32px;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 18px;
}

p {
  margin: 0;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 28px;
}

#st_container {
  position: relative;
  height: 480px;
  width: 100%;
  background: #f1f1f1;
}

#st_content {
  position: absolute;
  top: 0;
  left: 32px;
  bottom: 0;
  width: 480px;
}

#st_info {
  position: absolute;
  top: 0;
  left: 546px;
  right: 0;
  bottom: 0;
}

#st_description {
  padding-right: 32px;
}

.foreign, #domestic {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 72px;
  height: 72px;
  border: 3px solid #0a8cc9;
  border-radius: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  filter: saturate(80%);
}

  #domestic {
    top: 50%;
    left: 50%;
    width: 136px;
    height: 136px;
	  background-image: url("https://i.imgur.com/xtwAATx.png");
  }

b.hashtag {
  color: #0a8cc9;
  font-weight: bold;
}

b.hashtag:hover {
  color: #44a4e4;
}

b.hashtag::before {
  content: '#'
}

@media screen and (max-width: 720px) {

}


#nav {
    position:fixed;
    width:128px;
    height:100%;
}

#nav > ul {
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    height:100%;
    margin:0;
    padding:0;
    list-style:none;
}

#nav > ul > li {
    flex-grow:1;
    position:relative;
}

    #nav li > div {
        height: 128px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

.aniImage {
    position:absolute;
    top:0;
    left:0;
}

.page {
    position:fixed;
    width:100%;
    height:100%;
}

#overlay {
    width:100%;
    height:100%;
    position:fixed;
    background:rgba(46, 46, 46, 0.21);
    z-index:1000;
    left:0;
    top:0;
}

.sourceInfo {
  height: 24px;
  width: 24px;
  position: relative;
  display: inline;
  opacity: 0.75;
}

#sourcePanel {
    z-index: 1000;
    background-color: rgba(27, 27, 27, 1);
    transform: translate(-50%,calc(-100% - 8px));
    color:white;
    padding: 4px;
    font-size: 0.7rem;
    opacity: 0.9;
}
    #sourcePanel::after {
        content:"";
        height: 0;
        width: 0;
        position: absolute;
        border: 8px solid;
        border-color: rgba(27, 27, 27, 1) transparent transparent transparent;
        top:100%;
        left:50%;
        transform:translateX(-50%);
    }