body {
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

#wrapper {
	position: absolute;
  top: 0;
  left: 0;
  right: 0;
	width: 100%;
	min-height: 100%;
  overflow: hidden;
}

#st_container {
  position: relative;
  height: 480px;
  width: 100%;
  background: #f1f1f1;
}

#st_content {
  position: absolute;
  top: 0;
  left: 32px;
  bottom: 0;
  width: 480px;
}

#st_info {
  position: absolute;
  top: 0;
  left: 546px;
  right: 0;
  bottom: 0;
}

.foreign, .domestic {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
  border: 4px solid #fff;
  border-radius: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

  .domestic {
    top: 50%;
    left: 50%;
    width: 128px;
    height: 128px;
  }

b.hashtag {
  color: #f40;
  font-weight: bold;
}

b.hashtag:hover {
  color: #f84;
}

b.hashtag::before {
  content: '#'
}

@media screen and (max-width: 720px) {

}
